<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}

    <!-- FONT FAMILY - ROBOTO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >

    <!-- FONT FAMILY - ROBOTO MONO -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >

    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ 'application.js' | asset_url | script_tag }}

    <!-- GLIDE SLIDER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"></link>

    
    
  </head>
  <body>
    {% comment %} {% section 'announcement-bar' %} {% endcomment %}
    {% section 'header' %}
    <div
      id="cart-toast"
      class="fixed top-5 right-5 z-[100] bg-[#3e4827] text-white text-sm px-4 py-2 rounded shadow-md opacity-0 pointer-events-none transition-opacity duration-300"
    >
      Added to cart
    </div>
    <main role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}

    <!-- Glide.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide" defer></script> 

    {% comment %}  {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/headroom.js@0.12.0/dist/headroom.min.js" defer></script>

  </body>
</html>
