<section class="px-[18px] {% if section.settings.enable_margin_bottom %} mb-6 lg:mb-16 {% endif %} lg:px-[30px] max-w-[1900px] mx-auto bg-[#f3f1ec] pt-[60px] pb-[60px]">
  <h1 class="text-center text-[24px] text-[#3e4827] uppercase leading-[1.8] relative pb-4 after:content-[''] after:w-9 after:h-[3px] after:bg-[#db864e] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-0 mb-10">
    {{ section.settings.title }}
  </h1>
  <div
    class="reviews-container w-full  bg-[#f3f1ec] flex flex-wrap justify-center  items-center gap-x-[48px] gap-y-[30px] md:gap-y-[36px] lg:gap-y-[60px]"
  >
    {% for block in section.blocks %}
      <div class="review-item max-w-[500px]">
        <div class="review-star mx-auto mb-3 flex justify-center gap-1">
          <div>
            <img
              class="w-6 h-auto object-contain"
              src="{{'material-symbols_star.png' | asset_url}}"
              alt=""
            >
          </div>
          <div>
            <img
              class="w-6 h-6 object-contain"
              src="{{'material-symbols_star.png' | asset_url}}"
              alt=""
            >
          </div>
          <div>
            <img
              class="w-6 h-6 object-contain"
              src="{{'material-symbols_star.png' | asset_url}}"
              alt=""
            >
          </div>
          <div>
            <img
              class="w-6 h-6 object-contain"
              src="{{'material-symbols_star.png' | asset_url}}"
              alt=""
            >
          </div>
          <div>
            <img
              class="w-6 h-6 object-contain"
              src="{{'material-symbols_star.png' | asset_url}}"
              alt=""
            >
          </div>
        </div>
        <div class="text-content text-center mb-3">
          <h3 class="text-[18px] leading-[28px] uppercase mb-4 font-bold font-secondary">
            {{ block.settings.heading }}
          </h3>
          <p class="text-base font-secondary leading-[30px] mb-3">
            {{ block.settings.subtext }}
          </p>
          <p class="text-base font-secondary leading-[30px]">{{ block.settings.customer_name }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Customer Review",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "What real guys are saying",
      "label": "Review Heading Title"
    },
    {
      "type": "checkbox",
      "id": "enable_margin_bottom",
      "label": "Enable bottom margin",
      "default": true
    }
  ],
  "max_blocks": 3,

  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "column_image",
          "label": "Column Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text",
          "default": "Star Icon"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "ENHANCING TATTOO STICK"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Subtext",
          "default": "My tattoos haven't looked so good!! Even My 30 year old tatts look fresh! Outstanding product!!!"
        },
        {
          "type": "text",
          "id": "customer_name",
          "label": "Customer Name",
          "default": "Michael B."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Reviews",
      "category": "Custom",
      "blocks": [
        {
          "type": "column",
          "settings": {
            "heading": "ENHANCING TATTOO STICK",
            "subtext": "My tattoos haven't looked so good!! Even My 30 year old tatts look fresh! Outstanding product!!!",
            "customer_name": "Michael B."
          }
        }
      ]
    }
  ]
}
{% endschema %}
